 "gradio^5.27.0",
    "kagglehub^0.3.12",
    "langchain^0.3.24",
    "langchain_community^0.3.22",
    "matplotlib^3.10.1",
    "numpy^2.2.5",
    "pandas^2.2.3",
    "requests^2.32.3",
    "seaborn^0.13.2",
    "sentence-transformers^4.1.0",
    "scikit-learn^1.6.1",
    "tqdm^4.67.1",
    "transformers^4.51.3",
    "python-dotenv"
